# build & deps
node_modules/
dist/
.astro/

# env & logs
.env
.env.*
*.log

# OS
.DS_Store
Thumbs.db

# imágenes fuente sueltas dejadas en la raíz (las usadas están en public/)
/image-*.png
/image-*.webp
